<div>
  <div>
    <label for="kode">Kode Anggota</label>
    <input readonly type="text" name="kode" id="kode" [value]="anggota.kode">
  </div>
  <div>
    <label for="nama">Nama Anggota</label>
    <input readonly type="text" name="nama" id="nama" [value]="anggota.nama">
  </div>
  <div>
    <label for="alamat">Alamat Anggota</label>
    <input type="text" name="alamat" id="alamat" readonly [value]="anggota.alamat">
  </div>
  <div>
    <label for="tanggallahir">Tanggal Lahir Anggota</label>
    <input type="text" name="tanggalLahir" id="tanggallahir" readonly [value]="anggota.tanggalLahir">
  </div>
</div>
