<table border="1">
  <thead>
  <tr>
    <td>Kode</td>
    <td>Nama Anggota</td>
    <td>Alamat</td>
    <td>Tanggal Lahir</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let anggota of list">
    <td>{{anggota.kode}}</td>
    <td>{{anggota.nama}}</td>
    <td>{{anggota.alamat}}</td>
    <td>{{anggota.tanggalLahir}}</td>
  </tr>
  </tbody>
</table>

<hr/>
<form #formAnggota="ngForm" (submit)="saveData(formAnggota.value)">
  <div>
    <label for="nama">Nama Anggota</label>
    <input type="text" name="nama" id="nama" ngModel/>
  </div>
  <div>
    <label for="alamat">Alamat Anggota</label>
    <input type="text" name="alamat" id="alamat" ngModel/>
  </div>
  <div>
    <button type="submit">Kirim Data</button>
  </div>
</form>
